<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmp5BB6BA60FB495FC5344FFA5B2B4E9A1B" Guid="*">
                <File Id="fil6F931AF737EABE0CC5F5A47C8FC4264F" KeyPath="yes" Source="$(var.MyWindowsService.TargetDir)\MyWindowsService.exe" />
            </Component>
            <Component Id="cmp9DF4870793E926E7B1817E47DD4EB0EF" Guid="*">
                <File Id="fil1AF189C91CB2EF731D3758903B805DA3" KeyPath="yes" Source="$(var.MyWindowsService.TargetDir)\MyWindowsService.exe.config" />
                <util:XmlFile Id="AppConfigSetSetting1" File="[INSTALLDIR]MyWindowsService.exe.config" Action="setValue" Name="value" Value="[SETTING1]" ElementPath="//configuration/appSettings/add[\[]@key='setting1'[\]]" Sequence="1" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi" xmlns:my="my:my" />
                <util:XmlFile Id="AppConfigSetSetting2" File="[INSTALLDIR]MyWindowsService.exe.config" Action="setValue" Name="value" Value="[SETTING2]" ElementPath="//configuration/appSettings/add[\[]@key='setting2'[\]]" Sequence="1" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi" xmlns:my="my:my" />
            </Component>
            <Component Id="cmp4315D72D07EE11451A56800F20CDF02A" Guid="*">
                <File Id="fil303E44FEE6CA066158F09F41451E1891" KeyPath="yes" Source="$(var.MyWindowsService.TargetDir)\MyWindowsService.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Binaries">
            <ComponentRef Id="cmp5BB6BA60FB495FC5344FFA5B2B4E9A1B" />
            <ComponentRef Id="cmp9DF4870793E926E7B1817E47DD4EB0EF" />
            <ComponentRef Id="cmp4315D72D07EE11451A56800F20CDF02A" />
        </ComponentGroup>
    </Fragment>
</Wix>